Repository ScuffleCloud/scuffle, pull requests merged in 2024-01, with the labels that each got.

#188 feat(platform/image-processor): allow http downloads on image processor
  Cargo.lock
  common/src/task.rs
  platform/image_processor/Cargo.toml
  platform/image_processor/src/config.rs
  platform/image_processor/src/processor/error.rs
  platform/image_processor/src/processor/job/decoder/ffmpeg.rs
  platform/image_processor/src/processor/job/mod.rs
Labels: platform/image-processor

#165 feat(website): about page
  platform/website/.env
  platform/website/scuffle-about-background.blend
  platform/website/src/app.html
  platform/website/src/assets/styles/global.scss
  platform/website/src/components/about/blog-post.svelte
  platform/website/src/components/about/footer.svelte
  platform/website/src/components/about/hero-section.svelte
  platform/website/src/components/home/big-stream-preview.svelte
  platform/website/src/components/home/category-card.svelte
  platform/website/src/components/settings/user-banner.svelte
  platform/website/src/components/side-nav.svelte
  platform/website/src/routes/(app)/+error.svelte
  platform/website/src/routes/(app)/+layout.svelte
  platform/website/src/routes/(app)/+page.svelte
  platform/website/src/routes/(app)/[username]/(banner)/+layout.svelte
  platform/website/src/routes/(app)/[username]/(banner)/about/+page.svelte
  platform/website/src/routes/(app)/[username]/(banner)/clips/+page.svelte
  platform/website/src/routes/(app)/[username]/(banner)/home/+page.svelte
  platform/website/src/routes/(app)/[username]/(banner)/videos/+page.svelte
  platform/website/src/routes/(app)/[username]/+layout.svelte
  platform/website/src/routes/(app)/[username]/+layout.ts
  platform/website/src/routes/(app)/[username]/+page.svelte
  platform/website/src/routes/(app)/[username]/+page.ts
  platform/website/src/routes/(app)/creator-dashboard/+page.svelte
  platform/website/src/routes/(app)/following/+page.svelte
  platform/website/src/routes/(app)/login/+page.ts
  platform/website/src/routes/(app)/search/+page.svelte
  platform/website/src/routes/(app)/search/+page.ts
  platform/website/src/routes/(app)/settings/+layout.svelte
  platform/website/src/routes/(app)/settings/+page.server.ts
  platform/website/src/routes/(app)/settings/account/+page.svelte
  platform/website/src/routes/(app)/settings/billing/+page.svelte
  platform/website/src/routes/(app)/settings/notifications/+page.svelte
  platform/website/src/routes/(app)/settings/profile/+page.svelte
  platform/website/src/routes/(app)/sign-up/+page.ts
  platform/website/src/routes/(app)/tag/[tag]/+page.svelte
  platform/website/src/routes/(app)/tag/[tag]/+page.ts
  platform/website/src/routes/+layout.svelte
  platform/website/src/routes/about/+page.svelte
  platform/website/static/about/1x.avif
  platform/website/static/about/1x.jpg
  platform/website/static/about/1x.webp
  platform/website/static/about/Fishinge.webp
  platform/website/static/about/code.webp
Labels: platform/website

#195 fix(website): about page phrasing
  platform/website/src/routes/about/+page.svelte
Labels: platform/website

#189 IGDB Categories
  Cargo.lock
  common/Cargo.toml
  common/src/config.rs
  ffmpeg/src/scalar.rs
  platform/api/Cargo.toml
  platform/api/src/api/v1/gql/models/category.rs
  platform/api/src/api/v1/gql/models/image_upload.rs
  platform/api/src/api/v1/gql/subscription/file.rs
  platform/api/src/api/v1/upload/profile_picture.rs
  platform/api/src/config.rs
  platform/api/src/database/category.rs
  platform/api/src/database/file_type.rs
  platform/api/src/database/mod.rs
  platform/api/src/database/uploaded_file.rs
  platform/api/src/database/uploaded_file_status.rs
  platform/api/src/global.rs
  platform/api/src/igdb_cron.rs
  platform/api/src/image_processor_callback.rs
  platform/api/src/image_upload_callback.rs
  platform/api/src/lib.rs
  platform/api/src/main.rs
  platform/image_processor/Cargo.toml
  platform/image_processor/src/config.rs
  platform/image_processor/src/global.rs
  platform/image_processor/src/main.rs
  platform/image_processor/src/processor/error.rs
  platform/image_processor/src/processor/job/encoder/png.rs
  platform/image_processor/src/processor/job/mod.rs
  platform/image_processor/src/processor/job/resize.rs
  platform/image_processor/src/processor/mod.rs
  platform/image_processor/src/processor/utils.rs
  platform/image_processor/src/tests/global.rs
  platform/image_processor/src/tests/processor/encoder.rs
  platform/migrations/20230825170300_init.down.sql
  platform/migrations/20230825170300_init.up.sql
  platform/website/tsconfig.json
  proto/scuffle/video/internal/ingest.proto
  proto/scuffle/video/v1/types/playback_session.proto
  proto/scuffle/video/v1/types/recording_lifecycle_policy.proto
  video/player/tsconfig.json
  video/transcoder/Cargo.toml
Labels: platform/api, platform/image-processor
