Repository ScuffleCloud/scuffle, changes with the owners that CODEOWNERS names for each.
All owners: @ScuffleTV/maintainers, @ScuffleTV/frontend, @ScuffleTV/video, @ScuffleTV/player, @ScuffleTV/backend

CODEOWNERS:

* @ScuffleTV/maintainers

platform/website @ScuffleTV/frontend @ScuffleTV/maintainers

video/ @ScuffleTV/video @ScuffleTV/maintainers

video/player @ScuffleTV/video @ScuffleTV/player @ScuffleTV/maintainers 

platform/backend @ScuffleTV/backend @ScuffleTV/maintainers

support oneof and auto import annotations
  Cargo.lock
  crates/tinc/Cargo.toml
  crates/tinc/build/src/extensions.rs
  crates/tinc/build/src/lib.rs
  crates/tinc/pb/annotations.proto
  crates/tinc/pb/src/lib.rs
  crates/tinc/src/lib.rs
  crates/tinc/src/serde_helpers.rs
Owners: @ScuffleTV/maintainers

build with tonic
  crates/tinc/build/src/lib.rs
  crates/tinc/src/lib.rs
Owners: @ScuffleTV/maintainers

more work
  Cargo.lock
  crates/tinc/Cargo.toml
  crates/tinc/build/Cargo.toml
  crates/tinc/build/src/codegen.rs
  crates/tinc/build/src/extensions.rs
  crates/tinc/build/src/lib.rs
  crates/tinc/pb/annotations.proto
  crates/tinc/src/helpers.rs
  crates/tinc/src/lib.rs
  crates/tinc/src/value/de.rs
  crates/tinc/src/value/mod.rs
  crates/tinc/src/value/ser.rs
  crates/workspace-hack/Cargo.toml
Owners: @ScuffleTV/maintainers

add more string conversion
  crates/tinc/build/src/codegen.rs
  crates/tinc/src/helpers.rs
  crates/tinc/src/value/de.rs
  crates/tinc/src/value/mod.rs
Owners: @ScuffleTV/maintainers

reorder deps
  crates/tinc/Cargo.toml
Owners: @ScuffleTV/maintainers

Change the ConfigureSocketCallback to a CreateSocketCallback and start adding unit test
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

value owned
  Cargo.lock
  crates/tinc/Cargo.toml
  crates/tinc/build/src/codegen.rs
  crates/tinc/src/helpers.rs
  crates/tinc/src/value/de.rs
  crates/tinc/src/value/mod.rs
  crates/tinc/src/value/ser.rs
Owners: @ScuffleTV/maintainers

better owned impl
  crates/tinc/build/src/codegen.rs
  crates/tinc/src/helpers.rs
  crates/tinc/src/value/de.rs
  crates/tinc/src/value/mod.rs
  crates/tinc/src/value/ser.rs
Owners: @ScuffleTV/maintainers

added semver checks
  .github/actions/ci/semver-checks/action.yaml
  .github/scripts/ci-matrix-prep.py
  crates/aac/Cargo.toml
  crates/amf0/Cargo.toml
  crates/av1/Cargo.toml
  crates/batching/Cargo.toml
  crates/bootstrap/Cargo.toml
  crates/bytes-util/Cargo.toml
  crates/context/Cargo.toml
  crates/expgolomb/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/flv/Cargo.toml
  crates/future-ext/Cargo.toml
  crates/h264/Cargo.toml
  crates/h265/Cargo.toml
  crates/http/Cargo.toml
  crates/http/examples/Cargo.toml
  crates/metrics/Cargo.toml
  crates/metrics/examples/Cargo.toml
  crates/mp4/Cargo.toml
  crates/nutype_enum/Cargo.toml
  crates/postcompile/Cargo.toml
  crates/pprof/Cargo.toml
  crates/pprof/examples/Cargo.toml
  crates/rtmp/Cargo.toml
  crates/settings/Cargo.toml
  crates/settings/examples/Cargo.toml
  crates/signal/Cargo.toml
  crates/transmuxer/Cargo.toml
  crates/workspace-hack/Cargo.toml
  dev-tools/xtask/src/cmd/mod.rs
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
  dev-tools/xtask/src/cmd/semver_checks/utils.rs
Owners: @ScuffleTV/maintainers

try no for-loop
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

parse semver-checks output
  Cargo.lock
  dev-tools/xtask/Cargo.toml
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

address pr comments + disable hakari
  .github/actions/ci/semver-checks/action.yaml
  .github/scripts/ci-matrix-prep.py
  crates/aac/Cargo.toml
  crates/amf0/Cargo.toml
  crates/av1/Cargo.toml
  crates/batching/Cargo.toml
  crates/bootstrap/Cargo.toml
  crates/bytes-util/Cargo.toml
  crates/context/Cargo.toml
  crates/expgolomb/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/flv/Cargo.toml
  crates/future-ext/Cargo.toml
  crates/h264/Cargo.toml
  crates/h265/Cargo.toml
  crates/http/Cargo.toml
  crates/metrics/Cargo.toml
  crates/mp4/Cargo.toml
  crates/nutype_enum/Cargo.toml
  crates/postcompile/Cargo.toml
  crates/pprof/Cargo.toml
  crates/rtmp/Cargo.toml
  crates/settings/Cargo.toml
  crates/signal/Cargo.toml
  crates/transmuxer/Cargo.toml
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

try adding a breaking change (new field in h264 sps)
  crates/flv/src/lib.rs
  crates/h264/src/sps/mod.rs
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

address pr comments
  .github/actions/ci/semver-checks/action.yaml
  .github/scripts/ci-matrix-prep.py
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
  dev-tools/xtask/src/cmd/semver_checks/utils.rs
Owners: @ScuffleTV/maintainers

fix bool
  .github/actions/ci/semver-checks/action.yaml
Owners: @ScuffleTV/maintainers

fmt
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

fmt
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

try writing to console differently
  Cargo.lock
  dev-tools/xtask/Cargo.toml
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

try different approach for output?
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

fmt
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

test
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

🪈
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

fmt
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

😢
  Cargo.lock
  dev-tools/xtask/Cargo.toml
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

🛌
  dev-tools/xtask/src/cmd/semver_checks/mod.rs
Owners: @ScuffleTV/maintainers

wd
  Cargo.lock
  crates/tinc/Cargo.toml
  crates/tinc/build/Cargo.toml
  crates/tinc/build/src/codegen.rs
  crates/tinc/build/src/extensions.rs
  crates/tinc/pb/annotations.proto
  crates/tinc/src/helpers.rs
  crates/tinc/src/lib.rs
  crates/tinc/src/value/de.rs
  crates/tinc/src/value/mod.rs
  crates/tinc/src/value/ser.rs
Owners: @ScuffleTV/maintainers

wds
  crates/tinc/build/src/codegen.rs
  crates/tinc/build/src/codegen/mod.rs
  crates/tinc/build/src/codegen/serde.rs
  crates/tinc/build/src/codegen/service.rs
  crates/tinc/build/src/extensions.rs
  crates/tinc/src/helpers.rs
Owners: @ScuffleTV/maintainers

feat(amf0): serde rewrite
  Cargo.lock
  crates/amf0/Cargo.toml
  crates/amf0/src/de.rs
  crates/amf0/src/decode.rs
  crates/amf0/src/define.rs
  crates/amf0/src/encode.rs
  crates/amf0/src/error.rs
  crates/amf0/src/errors.rs
  crates/amf0/src/lib.rs
  crates/amf0/src/ser.rs
Owners: @ScuffleTV/maintainers

fix(amf0): enum as series of values
  crates/amf0/Cargo.toml
  crates/amf0/src/de.rs
  crates/amf0/src/lib.rs
  crates/amf0/src/ser.rs
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

chore(flv): use new amf0 version
  crates/flv/Cargo.toml
  crates/flv/src/error.rs
  crates/flv/src/script.rs
  crates/flv/src/video/body/enhanced/metadata.rs
  crates/flv/src/video/body/enhanced/mod.rs
  crates/flv/src/video/mod.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

fix(amf0): tests
  crates/amf0/src/ser.rs
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

chore(rtmp): use new version of scuffle-amf0
  Cargo.lock
  crates/rtmp/Cargo.toml
  crates/rtmp/src/command_messages/error.rs
  crates/rtmp/src/command_messages/mod.rs
  crates/rtmp/src/command_messages/netconnection/mod.rs
  crates/rtmp/src/command_messages/netconnection/reader.rs
  crates/rtmp/src/command_messages/netconnection/writer.rs
  crates/rtmp/src/command_messages/netstream/mod.rs
  crates/rtmp/src/command_messages/netstream/reader.rs
  crates/rtmp/src/command_messages/on_status/mod.rs
  crates/rtmp/src/command_messages/on_status/writer.rs
  crates/rtmp/src/command_messages/reader.rs
  crates/rtmp/src/command_messages/writer.rs
  crates/rtmp/src/messages/mod.rs
  crates/rtmp/src/messages/reader.rs
  crates/rtmp/src/session/server/mod.rs
Owners: @ScuffleTV/maintainers

chore(rtmp): clean up dependencies
  Cargo.lock
  crates/rtmp/Cargo.toml
  crates/workspace-hack/Cargo.toml
Owners: @ScuffleTV/maintainers

docs(amf0): update root docs
  crates/amf0/README.md
  crates/amf0/src/lib.rs
Owners: @ScuffleTV/maintainers

docs: add changelog file
  changes.d/pr-421.toml
Owners: @ScuffleTV/maintainers

fix: docs
  crates/flv/src/video/body/enhanced/metadata.rs
  crates/rtmp/src/command_messages/on_status/mod.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

docs(amf0): add missing docs
  crates/amf0/src/de.rs
  crates/amf0/src/error.rs
  crates/amf0/src/lib.rs
  crates/amf0/src/ser.rs
  crates/amf0/src/value.rs
  crates/flv/src/script.rs
  crates/rtmp/src/command_messages/netconnection/writer.rs
  crates/rtmp/src/command_messages/netstream/reader.rs
  crates/rtmp/src/command_messages/on_status/writer.rs
  crates/rtmp/src/command_messages/reader.rs
Owners: @ScuffleTV/maintainers

test(amf0): ser tests
  crates/amf0/src/de.rs
  crates/amf0/src/error.rs
  crates/amf0/src/ser.rs
Owners: @ScuffleTV/maintainers

push: pls help
  crates/amf0/src/de.rs
  crates/amf0/src/error.rs
Owners: @ScuffleTV/maintainers

Revert "push: pls help"
  crates/amf0/src/de.rs
  crates/amf0/src/error.rs
Owners: @ScuffleTV/maintainers
