Repository ScuffleCloud/scuffle, changes with the owners that CODEOWNERS names for each.
All owners: @ScuffleTV/maintainers, @ScuffleTV/frontend, @ScuffleTV/video, @ScuffleTV/player, @ScuffleTV/backend

CODEOWNERS:

* @ScuffleTV/maintainers

platform/website @ScuffleTV/frontend @ScuffleTV/maintainers

video/ @ScuffleTV/video @ScuffleTV/maintainers

video/player @ScuffleTV/video @ScuffleTV/player @ScuffleTV/maintainers 

platform/backend @ScuffleTV/backend @ScuffleTV/maintainers

feat(rtmp): capsEx support
  Cargo.lock
  crates/rtmp/Cargo.toml
  crates/rtmp/src/command_messages/netconnection/define.rs
  crates/rtmp/src/command_messages/netconnection/mod.rs
  crates/rtmp/src/command_messages/netconnection/reader.rs
  crates/rtmp/src/messages/reader.rs
  crates/rtmp/src/session/server_session.rs
Owners: @ScuffleTV/maintainers

test: improve and add flv metadata tests
  crates/amf0/src/define.rs
  crates/flv/src/video/body/enhanced/metadata.rs
  crates/rtmp/src/command_messages/define.rs
  crates/rtmp/src/command_messages/on_status/writer.rs
  crates/rtmp/src/command_messages/reader.rs
  crates/rtmp/src/command_messages/writer.rs
  crates/rtmp/src/messages/reader.rs
  crates/rtmp/src/session/server_session.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

test(flv): enhanced audio header
  crates/flv/src/audio/body/enhanced.rs
  crates/flv/src/audio/header/enhanced.rs
Owners: @ScuffleTV/maintainers

test(flv): enhanced audio body
  crates/flv/src/audio/body/enhanced.rs
  crates/flv/src/audio/header/enhanced.rs
Owners: @ScuffleTV/maintainers

Implement callbacks to configure the sockets used as listeners
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

Run just fmt
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

Execute workspace hack and add feature flags to the configure socket callbacks
  Cargo.lock
  crates/http/src/server.rs
  crates/workspace-hack/Cargo.toml
Owners: @ScuffleTV/maintainers

Make ConfigureSocketCallback Send
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

Make ConfigureSocketCallback also Sync
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

fix(http): feature gate
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

fix(http): udp socket
  crates/http/src/backend/h3/mod.rs
Owners: @ScuffleTV/maintainers

fix(http): `IPV6_V6ONLY` flag
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
Owners: @ScuffleTV/maintainers

docs: add changelog file
  changes.d/pr-407.toml
Owners: @ScuffleTV/maintainers

fix(flv): enhanced video body parsing
  crates/flv/src/video/body/enhanced/mod.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

test(flv): enhanced video header
  crates/flv/src/video/body/enhanced/mod.rs
  crates/flv/src/video/header/enhanced.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

test(flv): enhanced video body
  crates/flv/src/audio/body/enhanced.rs
  crates/flv/src/video/body/enhanced/mod.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

test(flv): script tag
  crates/flv/src/script.rs
Owners: @ScuffleTV/maintainers

docs: add changelog entry for amf0
  changes.d/pr-396.toml
Owners: @ScuffleTV/maintainers

test(amf0): amf0 values and errors
  changes.d/pr-396.toml
  crates/amf0/src/decode.rs
  crates/amf0/src/define.rs
  crates/amf0/src/errors.rs
Owners: @ScuffleTV/maintainers

test(rtmp): protocol control message
  crates/rtmp/src/protocol_control_messages/reader.rs
  crates/rtmp/src/protocol_control_messages/writer.rs
Owners: @ScuffleTV/maintainers

test(amf0): decoder
  crates/amf0/src/decode.rs
Owners: @ScuffleTV/maintainers

refactor(rtmp): complex handshake readability
  crates/rtmp/src/handshake/complex/digest.rs
  crates/rtmp/src/handshake/complex/mod.rs
Owners: @ScuffleTV/maintainers

Implement callbacks to configure the sockets used as listeners
  Cargo.lock
  crates/http/Cargo.toml
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

fix(http): `IPV6_V6ONLY` flag
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
Owners: @ScuffleTV/maintainers

Make ConfigureSocketCallback Send
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

docs: add changelog file
  changes.d/pr-407.toml
Owners: @ScuffleTV/maintainers

Execute workspace hack and add feature flags to the configure socket callbacks
  Cargo.lock
  crates/http/src/server.rs
  crates/workspace-hack/Cargo.toml
Owners: @ScuffleTV/maintainers

fix(http): feature gate
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

Run just fmt
  crates/http/src/backend/h3/mod.rs
  crates/http/src/backend/hyper/mod.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

Make ConfigureSocketCallback also Sync
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

fix(http): udp socket
  crates/http/src/backend/h3/mod.rs
Owners: @ScuffleTV/maintainers

docs(flv): write docs
  crates/flv/README.md
  crates/flv/src/audio/body/enhanced.rs
  crates/flv/src/audio/body/legacy/aac.rs
  crates/flv/src/audio/body/legacy/mod.rs
  crates/flv/src/audio/body/mod.rs
  crates/flv/src/audio/header/enhanced.rs
  crates/flv/src/audio/header/legacy.rs
  crates/flv/src/audio/header/mod.rs
  crates/flv/src/audio/mod.rs
  crates/flv/src/common.rs
  crates/flv/src/error.rs
  crates/flv/src/file.rs
  crates/flv/src/header.rs
  crates/flv/src/lib.rs
  crates/flv/src/script.rs
  crates/flv/src/tag.rs
  crates/flv/src/video/body/enhanced/metadata.rs
  crates/flv/src/video/body/enhanced/mod.rs
  crates/flv/src/video/body/legacy.rs
  crates/flv/src/video/body/mod.rs
  crates/flv/src/video/header/enhanced.rs
  crates/flv/src/video/header/legacy.rs
  crates/flv/src/video/header/mod.rs
  crates/flv/src/video/mod.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

fix: rtmp and transmuxer
  crates/rtmp/src/handshake/mod.rs
  crates/transmuxer/src/codecs/aac.rs
  crates/transmuxer/src/define.rs
  crates/transmuxer/src/lib.rs
Owners: @ScuffleTV/maintainers

docs(rtmp): finish
  crates/rtmp/README.md
  crates/rtmp/src/error.rs
  crates/rtmp/src/handshake/complex/digest.rs
  crates/rtmp/src/lib.rs
  crates/rtmp/src/session/error.rs
  crates/rtmp/src/session/handler.rs
  crates/rtmp/src/session/server_session.rs
Owners: @ScuffleTV/maintainers

fix(flv): remove tracing
  Cargo.lock
  crates/flv/Cargo.toml
  crates/flv/src/audio/body/enhanced.rs
  crates/flv/src/audio/header/enhanced.rs
  crates/flv/src/script.rs
  crates/flv/src/tag.rs
  crates/flv/src/video/body/enhanced/mod.rs
  crates/flv/src/video/header/enhanced.rs
  crates/flv/src/video/header/legacy.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

fix(flv): address comments
  crates/flv/src/audio/body/enhanced.rs
  crates/flv/src/error.rs
  crates/flv/src/lib.rs
  crates/flv/src/tag.rs
  crates/flv/src/video/body/enhanced/mod.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

bump cargo-platform
  Cargo.lock
  crates/postcompile/Cargo.toml
Owners: @ScuffleTV/maintainers

add changelog
  changes.d/pr-415.toml
Owners: @ScuffleTV/maintainers

initial tinc
  Cargo.lock
  Cargo.toml
  crates/tinc/Cargo.toml
  crates/tinc/build/Cargo.toml
  crates/tinc/build/src/extensions.rs
  crates/tinc/build/src/lib.rs
  crates/tinc/pb/Cargo.toml
  crates/tinc/pb/annotations.proto
  crates/tinc/pb/build.rs
  crates/tinc/pb/src/lib.rs
  crates/tinc/src/lib.rs
  crates/tinc/src/serde_helpers.rs
Owners: @ScuffleTV/maintainers

fix workspace hack
  Cargo.lock
  crates/tinc/Cargo.toml
  crates/tinc/build/Cargo.toml
  crates/tinc/pb/Cargo.toml
  crates/workspace-hack/Cargo.toml
Owners: @ScuffleTV/maintainers
