Repository ScuffleCloud/scuffle, changes with the owners that CODEOWNERS names for each.
All owners: @ScuffleTV/maintainers, @ScuffleTV/frontend, @ScuffleTV/video, @ScuffleTV/player, @ScuffleTV/backend

CODEOWNERS:

* @ScuffleTV/maintainers

platform/website @ScuffleTV/frontend @ScuffleTV/maintainers

video/ @ScuffleTV/video @ScuffleTV/maintainers

video/player @ScuffleTV/video @ScuffleTV/player @ScuffleTV/maintainers 

platform/backend @ScuffleTV/backend @ScuffleTV/maintainers

fix(http): webtransport connections
  crates/http/examples/web_transport_client.html
  crates/http/src/backend/h3.rs
Owners: @ScuffleTV/maintainers

chore: fmt
  crates/http/examples/web_transport_client.html
  crates/http/src/backend/h3.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

feat(http): add webtransport server options
  crates/http/src/backend/h3.rs
  crates/http/src/server.rs
Owners: @ScuffleTV/maintainers

fix: sync readme and feature gate
  crates/http/README.md
  crates/http/src/body.rs
Owners: @ScuffleTV/maintainers

fix(http): doctests
  crates/http/src/backend/h3/webtransport.rs
Owners: @ScuffleTV/maintainers

docs: add changelog file
  changes.d/pr-621.toml
Owners: @ScuffleTV/maintainers

refactor(http): rename example
  crates/http/Cargo.toml
  crates/http/examples/README.md
  crates/http/examples/webtransport.rs
  crates/http/examples/webtransport_client.html
Owners: @ScuffleTV/maintainers

feat(http): add into_inner functions
  crates/http/src/backend/h3/webtransport.rs
Owners: @ScuffleTV/maintainers

fix(http): clean up wt example
  crates/http/examples/webtransport.rs
Owners: @ScuffleTV/maintainers

fix(http): doctests
  crates/http/src/backend/h3/webtransport.rs
Owners: @ScuffleTV/maintainers

fix(http): wt example
  crates/http/BUILD.bazel
  crates/http/examples/webtransport.rs
Owners: @ScuffleTV/maintainers

chore: vendor
  Cargo.lock
Owners: @ScuffleTV/maintainers

fix(http): add webtransport example bazel target
  crates/http/BUILD.bazel
Owners: @ScuffleTV/maintainers

fix(http): clean up feature flags
  crates/http/Cargo.toml
  crates/http/src/lib.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

feat(http): include wt session as an extension
  crates/http/src/extensions.rs
Owners: @ScuffleTV/maintainers

fix(http): sync readme
  crates/http/README.md
Owners: @ScuffleTV/maintainers

feat(video-api): proto files and db types
  Cargo.toml
  cargo_targets.bzl
  cloud/proto/pb/scufflecloud/constraints.proto
  cloud/proto/pb/scufflecloud/core/v1/organization_invitations_service.proto
  cloud/proto/pb/scufflecloud/core/v1/organizations.proto
  cloud/proto/pb/scufflecloud/core/v1/organizations_service.proto
  cloud/proto/pb/scufflecloud/core/v1/sessions.proto
  cloud/proto/pb/scufflecloud/core/v1/sessions_service.proto
  cloud/proto/pb/scufflecloud/core/v1/users.proto
  cloud/proto/pb/scufflecloud/core/v1/users_service.proto
  cloud/proto/pb/scufflecloud/video/api/v1/stream.proto
  cloud/proto/pb/scufflecloud/video/api/v1/stream_service.proto
  cloud/video/api/db-types/BUILD.bazel
  cloud/video/api/db-types/Cargo.toml
  cloud/video/api/db-types/README.md
  cloud/video/api/db-types/diesel.toml
  cloud/video/api/db-types/migrations/0_diesel_initial_setup/down.sql
  cloud/video/api/db-types/migrations/0_diesel_initial_setup/up.sql
  cloud/video/api/db-types/migrations/1_streams/down.sql
  cloud/video/api/db-types/migrations/1_streams/up.sql
  cloud/video/api/db-types/src/lib.rs
  cloud/video/api/db-types/src/models.rs
  cloud/video/api/db-types/src/models/streams.rs
  cloud/video/api/db-types/src/schema.patch
  cloud/video/api/db-types/src/schema.rs
  docker-compose.yaml
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

chore: fmt
  cloud/video/api/Cargo.toml
  cloud/video/api/db-types/Cargo.toml
  cloud/video/api/src/services/stream.rs
  cloud/video/api/traits/BUILD.bazel
  cloud/video/api/traits/Cargo.toml
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

feat(video-api): add service implementation
  cloud/core/bin/standalone/main.rs
  cloud/proto/pb/scufflecloud/video/api/v1/stream_service.proto
  cloud/video/api/BUILD.bazel
  cloud/video/api/Cargo.toml
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/src/services.rs
  cloud/video/api/src/services/stream.rs
  cloud/video/api/traits/src/config.rs
  cloud/video/api/traits/src/lib.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(video-api): implement some endpoints
  cloud/core/bin/standalone/main.rs
  cloud/proto/pb/scufflecloud/video/api/v1/stream.proto
  cloud/proto/pb/scufflecloud/video/api/v1/stream_service.proto
  cloud/video/api/BUILD.bazel
  cloud/video/api/Cargo.toml
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/dataloaders.rs
  cloud/video/api/bin/standalone/dataloaders/streams.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/db-types/Cargo.toml
  cloud/video/api/db-types/src/models.rs
  cloud/video/api/db-types/src/models/streams.rs
  cloud/video/api/src/services/stream.rs
  cloud/video/api/traits/BUILD.bazel
  cloud/video/api/traits/Cargo.toml
  cloud/video/api/traits/src/database.rs
  cloud/video/api/traits/src/dataloader.rs
  cloud/video/api/traits/src/lib.rs
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.anyhow-1.0.100.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.petname-2.0.2.bazel
  vendor/cargo/BUILD.prost-derive-0.12.6.bazel
  vendor/cargo/BUILD.prost-derive-0.14.1.bazel
  vendor/cargo/BUILD.reqsign-aws-v4-2.0.0.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(video-api): mtls
  Justfile
  cloud/video/api/Cargo.toml
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/src/services.rs
  cloud/video/api/traits/src/lib.rs
  cloud/video/api/traits/src/mtls.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

chore: lockfile
  Cargo.lock
Owners: @ScuffleTV/maintainers

feat(video-api): delete stream
  cloud/video/api/src/services/stream.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

feat(video-api): mtls
  Cargo.lock
  cloud/video/api/Cargo.toml
  cloud/video/api/src/services.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(video-api): auth middleware
  cloud/video/api/src/lib.rs
  cloud/video/api/src/middleware.rs
  cloud/video/api/src/middleware/auth.rs
  cloud/video/api/src/services.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

feat(core): CLOUD-158 and CLOUD-159
  cloud/core/db-types/src/models/users.rs
  cloud/core/src/cedar.rs
  cloud/core/src/operations/user_sessions.rs
  cloud/core/src/services/sessions.rs
  cloud/core/static_policies.cedar
  cloud/core/static_policies.cedarschema
  cloud/proto/pb/scufflecloud/core/v1/sessions_service.proto
  cloud/proto/pb/scufflecloud/core/v1/users.proto
Owners: @ScuffleTV/maintainers

feat(core): session in new token response
  cloud/core/src/common.rs
  cloud/core/src/operations/user_sessions.rs
  cloud/dashboard/src/lib/auth.svelte.ts
  cloud/proto/pb/scufflecloud/core/v1/sessions_service.proto
Owners: @ScuffleTV/maintainers

fix(core): cedar policy
  cloud/core/static_policies.cedar
Owners: @ScuffleTV/maintainers

use google protobuf defs
  cloud/proto/BUILD.bazel
  cloud/proto/pb/google/rpc/error_details.proto
  cloud/proto/pb/google/rpc/status.proto
  cloud/proto/ts/BUILD.bazel
  misc/toolchains/protobuf.MODULE.bazel
Owners: @ScuffleTV/maintainers

fix RA bazel env path
  misc/utils/rust/analyzer/env.sh
Owners: @ScuffleTV/maintainers

fix proto build
  cloud/proto/pb/scufflecloud/core/v1/user.proto
  cloud/proto/pb/scufflecloud/core/v1/user_login_service.proto
  cloud/proto/pb/scufflecloud/core/v1/user_mfa_service.proto
Owners: @ScuffleTV/maintainers

fix user field
  cloud/core/db-types/src/models/user.rs
Owners: @ScuffleTV/maintainers

wd
  cloud/core/src/services/users.rs
Owners: @ScuffleTV/maintainers

update cargo lock
  Cargo.lock
Owners: @ScuffleTV/maintainers

device service
  Cargo.lock
  Cargo.toml
  buf.yaml
  cloud/core/Cargo.toml
  cloud/core/db-types/src/models/device_algorithm.rs
  cloud/core/db-types/src/models/mfa_webauthn_credential.rs
  cloud/core/db-types/src/models/user_session.rs
  cloud/core/proto/BUILD.bazel
  cloud/core/proto/scufflecloud/core/v1/device_service.proto
  cloud/core/src/auth_session.rs
  cloud/core/src/common.rs
  cloud/core/src/lib.rs
  cloud/core/src/services/device.rs
  cloud/core/src/services/organization.rs
  cloud/core/src/services/organization_invitation.rs
  cloud/core/src/services/user.rs
  cloud/core/src/services/user_email.rs
  cloud/core/src/services/user_login.rs
  cloud/core/src/services/user_mfa.rs
  cloud/core/traits/BUILD.bazel
  cloud/core/traits/Cargo.toml
  cloud/email/Cargo.toml
  cloud/email/proto/BUILD.bazel
  cloud/email/src/email_builder.rs
  cloud/email/src/services/email.rs
  misc/utils/js/proto.bzl
  misc/utils/js/proto/BUILD.bazel
  misc/utils/rust/analyzer/env.sh
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

use google protobuf defs
  cloud/proto/BUILD.bazel
  cloud/proto/pb/google/rpc/error_details.proto
  cloud/proto/pb/google/rpc/status.proto
  cloud/proto/ts/BUILD.bazel
  misc/toolchains/protobuf.MODULE.bazel
Owners: @ScuffleTV/maintainers

fix RA bazel env path
  misc/utils/rust/analyzer/env.sh
Owners: @ScuffleTV/maintainers

user service
  Cargo.lock
  cloud/core/BUILD.bazel
  cloud/core/Cargo.toml
  cloud/core/proto/scufflecloud/core/v1/user.proto
  cloud/core/src/common.rs
  cloud/core/src/lib.rs
  cloud/core/src/services/user.rs
  cloud/core/traits/BUILD.bazel
  cloud/core/traits/src/database.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

user email
  cloud/core/BUILD.bazel
  cloud/core/Cargo.toml
  cloud/core/db-types/migrations/4_mfa/up.sql
  cloud/core/db-types/src/models/pending_user_email.rs
  cloud/core/db-types/src/schema.rs
  cloud/core/proto/scufflecloud/core/v1/user.proto
  cloud/core/src/auth_session.rs
  cloud/core/src/services/user.rs
  cloud/core/src/services/user_email.rs
  cloud/core/traits/BUILD.bazel
  cloud/core/traits/src/config.rs
  cloud/core/traits/src/database.rs
Owners: @ScuffleTV/maintainers

lint
  cloud/core/bin/standalone/main.rs
  cloud/core/src/services/user.rs
Owners: @ScuffleTV/maintainers
