Repository ScuffleCloud/scuffle, changes with the owners that CODEOWNERS names for each.
All owners: @ScuffleTV/maintainers, @ScuffleTV/frontend, @ScuffleTV/video, @ScuffleTV/player, @ScuffleTV/backend

add deserializer
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

address pr comments (peek marker for deserialize)
  crates/amf0/src/de/mod.rs
Owners: @ScuffleTV/maintainers

try deserializer for value + fmt
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

finish forward deserializing
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

wip handling deserializer
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

add changelog + fix clippy
  changes.d/pr-441.toml
  crates/amf0/src/de/mod.rs
Owners: @ScuffleTV/maintainers

fix existing amf0 visit
  crates/amf0/src/de/mod.rs
Owners: @ScuffleTV/maintainers

some progress but unsure how to continue
  crates/amf0/src/de/mod.rs
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

fmt
  crates/amf0/src/de/mod.rs
  crates/amf0/src/value.rs
Owners: @ScuffleTV/maintainers

wip confused
  crates/amf0/src/de/mod.rs
Owners: @ScuffleTV/maintainers

feat(isobmff): new crate
  Cargo.lock
  Cargo.toml
  crates/isobmff/Cargo.toml
  crates/isobmff/src/lib.rs
Owners: @ScuffleTV/maintainers

feat(bytes-util): zc reader for mut refs and take
  crates/bytes-util/src/zero_copy.rs
Owners: @ScuffleTV/maintainers

feat(isobmff): derive macro and basic boxes
  Cargo.lock
  Cargo.toml
  crates/isobmff/Cargo.toml
  crates/isobmff/derive/Cargo.toml
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/etyp.rs
  crates/isobmff/src/boxes/ftyp.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/tyco.rs
  crates/isobmff/src/header.rs
  crates/isobmff/src/lib.rs
Owners: @ScuffleTV/maintainers

chore(isobmff): various crate files
  crates/isobmff/LICENSE.Apache-2.0
  crates/isobmff/LICENSE.MIT
  crates/isobmff/README.md
  crates/isobmff/derive/Cargo.toml
  crates/isobmff/derive/LICENSE.Apache-2.0
  crates/isobmff/derive/LICENSE.MIT
  crates/isobmff/derive/README.md
Owners: @ScuffleTV/maintainers

docs: add changes file
  changes.d/pr-442.toml
Owners: @ScuffleTV/maintainers

push: help
  crates/isobmff/src/boxes/free.rs
  crates/isobmff/src/boxes/mdat.rs
  crates/isobmff/src/boxes/mod.rs
Owners: @ScuffleTV/maintainers

saved
  crates/isobmff/derive/src/lib.rs
Owners: @ScuffleTV/maintainers

fix(isobmff): big macro cleanup
  Cargo.lock
  crates/isobmff/derive/Cargo.toml
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/free.rs
  crates/isobmff/src/boxes/mdat.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/read_field.rs
Owners: @ScuffleTV/maintainers

chore(isobmff): remove nested_box
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/etyp.rs
Owners: @ScuffleTV/maintainers

feat(isobmff): improve macro
  crates/bytes-util/src/cow/bytes/mod.rs
  crates/bytes-util/src/io_ext.rs
  crates/bytes-util/src/lib.rs
  crates/bytes-util/src/zero_copy/mod.rs
  crates/bytes-util/src/zero_copy/reader.rs
  crates/bytes-util/src/zero_copy/serde.rs
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/etyp.rs
  crates/isobmff/src/boxes/free.rs
  crates/isobmff/src/boxes/ftyp.rs
  crates/isobmff/src/boxes/mdat.rs
  crates/isobmff/src/boxes/tyco.rs
  crates/isobmff/src/header.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/read_field.rs
  crates/rtmp/src/chunk/reader.rs
Owners: @ScuffleTV/maintainers

feat(isobmff): demux progress
  Cargo.lock
  crates/bytes-util/src/zero_copy/serde.rs
  crates/isobmff/Cargo.toml
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/file_organization.rs
  crates/isobmff/src/boxes/free.rs
  crates/isobmff/src/boxes/ftyp.rs
  crates/isobmff/src/boxes/general.rs
  crates/isobmff/src/boxes/mdat.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/movie.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/tyco.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/file.rs
  crates/isobmff/src/header.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/snapshots/isobmff__file__tests__sample_file.snap.new
  crates/isobmff/src/string_deserializer.rs
Owners: @ScuffleTV/maintainers

feat: more boxes
  Cargo.lock
  crates/bytes-util/src/zero_copy/serde.rs
  crates/h264/Cargo.toml
  crates/h264/src/boxes.rs
  crates/h264/src/config.rs
  crates/h264/src/lib.rs
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/general.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/track_time.rs
  crates/isobmff/src/boxes/video_media.rs
  crates/isobmff/src/file.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/snapshots/isobmff__file__tests__avc_aac_sample.snap
  crates/isobmff/src/snapshots/isobmff__file__tests__sample_file.snap.new
Owners: @ScuffleTV/maintainers

feat(isobmff): more boxes
  Cargo.lock
  crates/isobmff/Cargo.toml
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/file_organization.rs
  crates/isobmff/src/boxes/general.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/movie.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_data_layout.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/track_time.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/boxes/video_media.rs
  crates/isobmff/src/file.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/snapshots/isobmff__file__tests__avc_aac_sample.snap
Owners: @ScuffleTV/maintainers

feat(isobmff): more boxes
  crates/flv/src/video/body/enhanced/mod.rs
  crates/flv/src/video/body/legacy.rs
  crates/flv/src/video/body/mod.rs
  crates/isobmff/src/boxes/general.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_data_layout.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/track_time.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/file.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

feat(isobmff): 8.12 boxes
  crates/flv/src/video/body/legacy.rs
  crates/isobmff/src/boxes/file_organization.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/movie.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/protected_streams.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/snapshots/isobmff__file__tests__avc_aac_sample.snap
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

feat(isobmff): 8.13 boxes
  Cargo.lock
  crates/isobmff/Cargo.toml
  crates/isobmff/src/boxes/file_delivery_format.rs
  crates/isobmff/src/boxes/incomplete_tracks.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/post_decoder_requirements.rs
  crates/isobmff/src/boxes/rtp_and_srtp_hint.rs
  crates/isobmff/src/string_deserializer.rs
Owners: @ScuffleTV/maintainers

feat(isobmff): finish section 8
  crates/isobmff/src/boxes/compressed_boxes.rs
  crates/isobmff/src/boxes/entity_grouping.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/post_decoder_requirements.rs
  crates/isobmff/src/boxes/protected_streams.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/segments.rs
  crates/isobmff/src/boxes/sub_tracks.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/file.rs
  crates/isobmff/src/string_deserializer.rs
Owners: @ScuffleTV/maintainers

fix(isobmff): remove section 9
  crates/bytes-util/src/cow/string/mod.rs
  crates/bytes-util/src/zero_copy/serde.rs
  crates/isobmff/src/boxes/hint_media.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/rtp_and_srtp_hint.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/lib.rs
Owners: @ScuffleTV/maintainers

feat(isobmff): section 12 boxes
  crates/h264/src/boxes.rs
  crates/isobmff/src/boxes/audio_media.rs
  crates/isobmff/src/boxes/font_media.rs
  crates/isobmff/src/boxes/haptic_media.rs
  crates/isobmff/src/boxes/hint_media.rs
  crates/isobmff/src/boxes/metadata_media.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/multiplexed_timed_metadata_tracks.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/subtitle_media.rs
  crates/isobmff/src/boxes/text_media.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/boxes/video_media.rs
  crates/isobmff/src/boxes/volemetric_visual_media.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/string_deserializer.rs
Owners: @ScuffleTV/maintainers

fix(isobmff): update snapshot
  crates/isobmff/src/snapshots/isobmff__file__tests__avc_aac_sample.snap
Owners: @ScuffleTV/maintainers

fix(isobmff): box types
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/audio_media.rs
  crates/isobmff/src/boxes/file_delivery_format.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/movie.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/post_decoder_requirements.rs
  crates/isobmff/src/boxes/protected_streams.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/segments.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_data_layout.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/track_time.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/boxes/video_media.rs
  crates/isobmff/src/lib.rs
Owners: @ScuffleTV/maintainers

feat: update av1, h264 and h265
  Cargo.lock
  changes.d/pr-442.toml
  crates/av1/Cargo.toml
  crates/av1/src/boxes.rs
  crates/av1/src/config.rs
  crates/av1/src/lib.rs
  crates/h264/src/boxes.rs
  crates/h265/Cargo.toml
  crates/h265/src/boxes.rs
  crates/h265/src/config.rs
  crates/h265/src/lib.rs
  crates/isobmff/src/boxes/mod.rs
  crates/isobmff/src/boxes/other.rs
Owners: @ScuffleTV/maintainers

feat: add scuffle-opus crate
  Cargo.lock
  Cargo.toml
  changes.d/pr-442.toml
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/lib.rs
  crates/opus/Cargo.toml
  crates/opus/LICENSE.Apache-2.0
  crates/opus/LICENSE.MIT
  crates/opus/README.md
  crates/opus/src/boxes.rs
  crates/opus/src/lib.rs
Owners: @ScuffleTV/maintainers

chore: update crates to new mp4
  Cargo.lock
  crates/av1/src/config.rs
  crates/ffmpeg/Cargo.toml
  crates/ffmpeg/src/encoder.rs
  crates/ffmpeg/src/io/output.rs
  crates/flv/src/video/body/enhanced/mod.rs
  crates/flv/src/video/mod.rs
  crates/isobmff/src/lib.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(isobmff): serialize
  crates/av1/src/config.rs
  crates/bytes-util/src/bit_write.rs
  crates/bytes-util/src/zero_copy/serde.rs
  crates/h264/src/config.rs
  crates/h265/src/config.rs
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes/audio_media.rs
  crates/isobmff/src/boxes/entity_grouping.rs
  crates/isobmff/src/boxes/file_delivery_format.rs
  crates/isobmff/src/boxes/font_media.rs
  crates/isobmff/src/boxes/general.rs
  crates/isobmff/src/boxes/haptic_media.rs
  crates/isobmff/src/boxes/hint_media.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/metadata_media.rs
  crates/isobmff/src/boxes/movie.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/other.rs
  crates/isobmff/src/boxes/post_decoder_requirements.rs
  crates/isobmff/src/boxes/protected_streams.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/segments.rs
  crates/isobmff/src/boxes/subtitle_media.rs
  crates/isobmff/src/boxes/text_media.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_data_layout.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/track_time.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/boxes/video_media.rs
  crates/isobmff/src/boxes/volemetric_visual_media.rs
  crates/isobmff/src/common_types.rs
  crates/isobmff/src/file.rs
  crates/isobmff/src/header.rs
  crates/isobmff/src/lib.rs
  crates/isobmff/src/utils.rs
  crates/opus/src/boxes.rs
Owners: @ScuffleTV/maintainers

fix: lifetimes
  crates/h264/src/boxes.rs
  crates/h265/src/boxes.rs
Owners: @ScuffleTV/maintainers

fix: use new crate format
  Cargo.lock
  crates/isobmff/Cargo.toml
  crates/isobmff/derive/Cargo.toml
  crates/isobmff/src/lib.rs
  crates/mp4/Cargo.toml
  crates/mp4/README.md
  crates/opus/Cargo.toml
  crates/opus/src/lib.rs
Owners: @ScuffleTV/maintainers

fix(isobmff): cleanup serialize impls
  crates/isobmff/src/boxes/audio_media.rs
  crates/isobmff/src/boxes/file_delivery_format.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/post_decoder_requirements.rs
  crates/isobmff/src/boxes/protected_streams.rs
  crates/isobmff/src/boxes/track_data_layout.rs
Owners: @ScuffleTV/maintainers

fix: changelogs
  changes.d/pr-442.toml
  crates/isobmff/CHANGELOG.md
  crates/isobmff/derive/CHANGELOG.md
  crates/opus/CHANGELOG.md
Owners: @ScuffleTV/maintainers

feat: seeded serialize
  crates/bytes-util/src/zero_copy/serde.rs
  crates/isobmff/src/boxes/audio_media.rs
  crates/isobmff/src/boxes/file_delivery_format.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/track_data_layout.rs
  crates/isobmff/src/boxes/track_time.rs
Owners: @ScuffleTV/maintainers

CODEOWNERS:

* @ScuffleTV/maintainers

platform/website @ScuffleTV/frontend @ScuffleTV/maintainers

video/ @ScuffleTV/video @ScuffleTV/maintainers

video/player @ScuffleTV/video @ScuffleTV/player @ScuffleTV/maintainers 

platform/backend @ScuffleTV/backend @ScuffleTV/maintainers
