Repository ScuffleCloud/scuffle, changes with the owners that CODEOWNERS names for each.
All owners: @ScuffleTV/maintainers, @ScuffleTV/frontend, @ScuffleTV/video, @ScuffleTV/player, @ScuffleTV/backend

CODEOWNERS:

* @ScuffleTV/maintainers

platform/website @ScuffleTV/frontend @ScuffleTV/maintainers

video/ @ScuffleTV/video @ScuffleTV/maintainers

video/player @ScuffleTV/video @ScuffleTV/player @ScuffleTV/maintainers 

platform/backend @ScuffleTV/backend @ScuffleTV/maintainers

fix(cloud): remove overspecific dependency verions
  cloud/core/Cargo.toml
  cloud/core/emails/Cargo.toml
  cloud/core/traits/Cargo.toml
  cloud/email/Cargo.toml
  cloud/email/traits/Cargo.toml
  cloud/ext-traits/Cargo.toml
  cloud/geo-ip/Cargo.toml
  cloud/proto/Cargo.toml
  cloud/video/api/Cargo.toml
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

fix(settings): test
  changes.d/pr-625.toml
  crates/settings/Cargo.toml
  crates/settings/src/lib.rs
Owners: @ScuffleTV/maintainers

fix: remove overspecific dependency verions
  crates/aac/Cargo.toml
  crates/amf0/Cargo.toml
  crates/av1/Cargo.toml
  crates/batching/Cargo.toml
  crates/bootstrap-telemetry/Cargo.toml
  crates/bootstrap/Cargo.toml
  crates/bytes-util/Cargo.toml
  crates/cedar-policy/Cargo.toml
  crates/cedar-policy/codegen/Cargo.toml
  crates/changelog/Cargo.toml
  crates/context/Cargo.toml
  crates/expgolomb/Cargo.toml
  crates/ffmpeg/Cargo.toml
  crates/flv/Cargo.toml
  crates/future-ext/Cargo.toml
  crates/h264/Cargo.toml
  crates/h265/Cargo.toml
  crates/http/Cargo.toml
  crates/metrics/Cargo.toml
  crates/mp4/Cargo.toml
  crates/nutype-enum/Cargo.toml
  crates/openapiv3_1/Cargo.toml
  crates/postcompile/Cargo.toml
  crates/pprof/Cargo.toml
  crates/rtmp/Cargo.toml
  crates/settings/Cargo.toml
  crates/signal/Cargo.toml
  crates/tinc/build/Cargo.toml
  crates/tinc/cel/Cargo.toml
  crates/tinc/derive/Cargo.toml
  crates/tinc/integration/Cargo.toml
  crates/transmuxer/Cargo.toml
Owners: @ScuffleTV/maintainers

update contributing
  CONTRIBUTING.md
Owners: @ScuffleTV/maintainers

add tanstack to show how simplifies flow in 2fa page
  cloud/dashboard/src/components/inline-notification.svelte
  cloud/dashboard/src/components/modal.svelte
  cloud/dashboard/src/components/settings/auth-method-actions-menu.svelte
  cloud/dashboard/src/components/settings/credential-mutations.svelte.ts
  cloud/dashboard/src/components/settings/recovery-codes-button.svelte
  cloud/dashboard/src/components/settings/settings-page.svelte
  cloud/dashboard/src/components/settings/two-factor-settings-card.svelte
  cloud/dashboard/src/lib/images/icon-edit-pen-2.svelte
  cloud/dashboard/src/lib/images/icon-trash.svelte
  cloud/dashboard/src/lib/two-factor/webAuthn.svelte.ts
  cloud/dashboard/src/lib/types.ts
Owners: @ScuffleTV/maintainers

fix(core): mfa cedar serialization
  cloud/core/db-types/src/models/mfa.rs
Owners: @ScuffleTV/maintainers

add rpc error handling
  cloud/dashboard/src/components/settings/credential-mutations.svelte.ts
  cloud/dashboard/src/lib/utils.ts
Owners: @ScuffleTV/maintainers

fix(core): google auth url
  cloud/core/src/google_api.rs
  cloud/core/src/operations/login.rs
Owners: @ScuffleTV/maintainers

fix(core): cedar schema
  cloud/core/static_policies.cedarschema
Owners: @ScuffleTV/maintainers

nit
  cloud/dashboard/src/components/settings/credential-mutations.svelte.ts
Owners: @ScuffleTV/maintainers

reformat and fix gha
  .github/workflows/ci-check-fmt.yaml
  .github/workflows/ci.yaml
  BUILD.bazel
  MODULE.bazel
  misc/utils/rust/analyzer/env.sh
  tools/bazel-diff/BUILD.bazel
  tools/scripts/utils/tool.sh
Owners: @ScuffleTV/maintainers

fix script start
  .github/workflows/ci-check-fmt.yaml
  .github/workflows/ci.yaml
Owners: @ScuffleTV/maintainers

fix fmt
  .github/workflows/ci-check-fmt.yaml
Owners: @ScuffleTV/maintainers

chore: fmt
  cloud/core/src/operations/login.rs
Owners: @ScuffleTV/maintainers

push in case laptop breaks
  cloud/dashboard/src/components/login-two-factor/mutationChallenges.svelte.ts
  cloud/dashboard/src/components/login-two-factor/recovery-code-collapsible.svelte
  cloud/dashboard/src/components/login-two-factor/recovery-code-form.svelte
  cloud/dashboard/src/components/login-two-factor/topt-form.svelte
  cloud/dashboard/src/components/login-two-factor/two-factor-page.svelte
  cloud/dashboard/src/components/login-two-factor/web-authnn-form.svelte
  cloud/dashboard/src/components/login-two-factor/webAuthnChallenge.svelte.ts
  cloud/dashboard/src/components/settings/createWebAuthn.svelte.ts
  cloud/dashboard/src/components/settings/credentialMutations.svelte.ts
  cloud/dashboard/src/components/settings/two-factor-settings-card.svelte
  cloud/dashboard/src/lib/auth/two-factor/webAuthnMfa.svelte.ts
  cloud/dashboard/src/lib/utils.ts
Owners: @ScuffleTV/maintainers

add changelog
  changes.d/pr-628.toml
Owners: @ScuffleTV/maintainers

feat(ingest): rtmp
  Cargo.lock
  cloud/video/ingest/BUILD.bazel
  cloud/video/ingest/Cargo.toml
  cloud/video/ingest/bin/standalone/config.rs
  cloud/video/ingest/bin/standalone/main.rs
  cloud/video/ingest/src/services.rs
  cloud/video/ingest/src/services/rtmp.rs
  cloud/video/ingest/traits/src/config.rs
  cloud/video/ingest/traits/src/lib.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(ingest): RTMPS
  cloud/video/ingest/Cargo.toml
  cloud/video/ingest/bin/standalone/config.rs
  cloud/video/ingest/bin/standalone/main.rs
  cloud/video/ingest/src/services.rs
  cloud/video/ingest/traits/Cargo.toml
  cloud/video/ingest/traits/src/lib.rs
  cloud/video/ingest/traits/src/rtmps.rs
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.hyper-rustls-0.27.7.bazel
  vendor/cargo/BUILD.reqwest-0.12.23.bazel
  vendor/cargo/BUILD.rustls-0.23.32.bazel
  vendor/cargo/BUILD.tokio-rustls-0.26.4.bazel
  vendor/cargo/BUILD.tonic-0.14.2.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

fix: rustls dependency
  Cargo.lock
  cloud/core/Cargo.toml
  cloud/email/Cargo.toml
Owners: @ScuffleTV/maintainers

fix(ingest): dependencies
  Cargo.lock
  cloud/video/ingest/Cargo.toml
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.cargo_toml-0.22.3.bazel
  vendor/cargo/BUILD.config-0.15.18.bazel
  vendor/cargo/BUILD.nextest-runner-0.88.0.bazel
  vendor/cargo/BUILD.serde_spanned-1.0.3.bazel
  vendor/cargo/BUILD.toml-0.9.8.bazel
  vendor/cargo/BUILD.toml_datetime-0.7.3.bazel
  vendor/cargo/BUILD.toml_edit-0.23.7.bazel
  vendor/cargo/BUILD.toml_parser-1.0.4.bazel
  vendor/cargo/BUILD.toml_writer-1.0.4.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

fix: rustls dependencies
  Cargo.lock
  cloud/core/Cargo.toml
  cloud/email/Cargo.toml
  crates/bootstrap-telemetry/Cargo.toml
  crates/http/Cargo.toml
  crates/http/examples/axum.rs
  crates/http/examples/echo_tls.rs
  crates/http/src/backend/h3.rs
  crates/http/src/backend/hyper.rs
  crates/http/src/lib.rs
  crates/http/src/server.rs
  vendor/cargo/BUILD.rustls-0.23.32.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

docs: changelog file
  changes.d/pr-633.toml
Owners: @ScuffleTV/maintainers

Revert "fix: rustls dependency"
  cloud/core/Cargo.toml
  cloud/email/Cargo.toml
Owners: @ScuffleTV/maintainers

chore: vendor
  Cargo.lock
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.hyper-rustls-0.27.7.bazel
  vendor/cargo/BUILD.reqwest-0.12.23.bazel
  vendor/cargo/BUILD.rustls-0.23.32.bazel
  vendor/cargo/BUILD.tokio-rustls-0.26.2.bazel
  vendor/cargo/BUILD.tonic-0.14.2.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

feat(video-api): proto files and db types
  Cargo.toml
  cargo_targets.bzl
  cloud/proto/pb/scufflecloud/constraints.proto
  cloud/proto/pb/scufflecloud/core/v1/organization_invitations_service.proto
  cloud/proto/pb/scufflecloud/core/v1/organizations.proto
  cloud/proto/pb/scufflecloud/core/v1/organizations_service.proto
  cloud/proto/pb/scufflecloud/core/v1/sessions.proto
  cloud/proto/pb/scufflecloud/core/v1/sessions_service.proto
  cloud/proto/pb/scufflecloud/core/v1/users.proto
  cloud/proto/pb/scufflecloud/core/v1/users_service.proto
  cloud/proto/pb/scufflecloud/video/api/v1/stream.proto
  cloud/proto/pb/scufflecloud/video/api/v1/stream_service.proto
  cloud/video/api/db-types/BUILD.bazel
  cloud/video/api/db-types/Cargo.toml
  cloud/video/api/db-types/README.md
  cloud/video/api/db-types/diesel.toml
  cloud/video/api/db-types/migrations/0_diesel_initial_setup/down.sql
  cloud/video/api/db-types/migrations/0_diesel_initial_setup/up.sql
  cloud/video/api/db-types/migrations/1_streams/down.sql
  cloud/video/api/db-types/migrations/1_streams/up.sql
  cloud/video/api/db-types/src/lib.rs
  cloud/video/api/db-types/src/models.rs
  cloud/video/api/db-types/src/models/streams.rs
  cloud/video/api/db-types/src/schema.patch
  cloud/video/api/db-types/src/schema.rs
  docker-compose.yaml
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(video-api): add service implementation
  Cargo.lock
  cloud/core/bin/standalone/main.rs
  cloud/proto/pb/scufflecloud/video/api/v1/stream_service.proto
  cloud/video/api/BUILD.bazel
  cloud/video/api/Cargo.toml
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/src/services.rs
  cloud/video/api/src/services/stream.rs
  cloud/video/api/traits/src/config.rs
  cloud/video/api/traits/src/lib.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(video-api): implement some endpoints
  Cargo.lock
  cloud/core/bin/standalone/main.rs
  cloud/proto/pb/scufflecloud/video/api/v1/stream.proto
  cloud/proto/pb/scufflecloud/video/api/v1/stream_service.proto
  cloud/video/api/BUILD.bazel
  cloud/video/api/Cargo.toml
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/dataloaders.rs
  cloud/video/api/bin/standalone/dataloaders/streams.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/db-types/Cargo.toml
  cloud/video/api/db-types/src/models.rs
  cloud/video/api/db-types/src/models/streams.rs
  cloud/video/api/src/services/stream.rs
  cloud/video/api/traits/BUILD.bazel
  cloud/video/api/traits/Cargo.toml
  cloud/video/api/traits/src/database.rs
  cloud/video/api/traits/src/dataloader.rs
  cloud/video/api/traits/src/lib.rs
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.anyhow-1.0.100.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.petname-2.0.2.bazel
  vendor/cargo/BUILD.prost-derive-0.12.6.bazel
  vendor/cargo/BUILD.prost-derive-0.14.1.bazel
  vendor/cargo/BUILD.reqsign-aws-v4-2.0.0.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

chore: fmt
  cloud/video/api/Cargo.toml
  cloud/video/api/db-types/Cargo.toml
  cloud/video/api/src/services/stream.rs
  cloud/video/api/traits/BUILD.bazel
  cloud/video/api/traits/Cargo.toml
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

nit
  cloud/dashboard/src/routes/+layout.svelte
Owners: @ScuffleTV/maintainers

fix(dashboard): auth state
  cloud/dashboard/src/lib/auth.svelte.ts
  cloud/dashboard/src/routes/+layout.svelte
  cloud/dashboard/src/routes/+layout.ts
Owners: @ScuffleTV/maintainers

finish all webauthn crud flows
  cloud/dashboard/src/components/badge.svelte
  cloud/dashboard/src/components/inline-notification.svelte
  cloud/dashboard/src/components/login-two-factor/createMfaWebauthnChallenge.ts
  cloud/dashboard/src/components/login-two-factor/mfaChallengeMutations.ts
  cloud/dashboard/src/components/login-two-factor/web-authnn-form.svelte
  cloud/dashboard/src/components/settings-card.svelte
  cloud/dashboard/src/components/settings/consts.ts
  cloud/dashboard/src/components/settings/credentialMutations.svelte.ts
  cloud/dashboard/src/components/settings/settings-page.svelte
  cloud/dashboard/src/components/settings/two-factor-settings-card.svelte
  cloud/dashboard/src/lib/grpcClient.ts
  cloud/dashboard/src/routes/+layout.svelte
Owners: @ScuffleTV/maintainers

feat(video-api): mtls
  Justfile
  cloud/video/api/Cargo.toml
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/src/services.rs
  cloud/video/api/traits/src/lib.rs
  cloud/video/api/traits/src/mtls.rs
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

feat(video-api): delete stream
  cloud/video/api/src/services/stream.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

fix(core): cedar policy
  cloud/core/static_policies.cedar
Owners: @ScuffleTV/maintainers

feat(dashboard): add reloadUser function
  cloud/dashboard/src/lib/auth.svelte.ts
Owners: @ScuffleTV/maintainers

fix(dashboard): auth mfa pending check
  cloud/dashboard/src/lib/auth.svelte.ts
Owners: @ScuffleTV/maintainers

Adds WebTransport over HTTP/3 support
  crates/http/Cargo.toml
  crates/http/README.md
  crates/http/examples/webtransport_tls.rs
  crates/http/src/backend/h3.rs
  crates/http/src/lib.rs
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.h3-datagram-0.0.2.bazel
  vendor/cargo/BUILD.h3-quinn-0.0.10.bazel
  vendor/cargo/BUILD.h3-webtransport-0.1.2.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

Adds WebTransport datagram support over HTTP/3
  crates/http/Cargo.toml
  crates/http/examples/webtransport_tls.rs
  crates/http/src/backend/h3.rs
  crates/http/src/backend/h3/webtransport.rs
  crates/http/src/body.rs
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

docs(http): fix
  crates/http/Cargo.toml
Owners: @ScuffleTV/maintainers

refactor(http): webtransport client html into file
  crates/http/examples/web_transport_client.html
  crates/http/examples/webtransport_tls.rs
Owners: @ScuffleTV/maintainers
