Repository ScuffleCloud/scuffle, changes with the owners that CODEOWNERS names for each.
All owners: @ScuffleTV/maintainers, @ScuffleTV/frontend, @ScuffleTV/video, @ScuffleTV/player, @ScuffleTV/backend

CODEOWNERS:

* @ScuffleTV/maintainers

platform/website @ScuffleTV/frontend @ScuffleTV/maintainers

video/ @ScuffleTV/video @ScuffleTV/maintainers

video/player @ScuffleTV/video @ScuffleTV/player @ScuffleTV/maintainers 

platform/backend @ScuffleTV/backend @ScuffleTV/maintainers

fix(h264): use new deserialize trait
  crates/h264/src/config.rs
Owners: @ScuffleTV/maintainers

docs: update changelog
  changes.d/pr-442.toml
Owners: @ScuffleTV/maintainers

docs: remove breaking changes
  changes.d/pr-442.toml
Owners: @ScuffleTV/maintainers

docs(isobmff): add remaining docs
  crates/bytes-util/src/zero_copy/serde.rs
  crates/isobmff/src/boxes/audio_media.rs
  crates/isobmff/src/boxes/compressed_boxes.rs
  crates/isobmff/src/boxes/entity_grouping.rs
  crates/isobmff/src/boxes/file_delivery_format.rs
  crates/isobmff/src/boxes/file_organization.rs
  crates/isobmff/src/boxes/font_media.rs
  crates/isobmff/src/boxes/general.rs
  crates/isobmff/src/boxes/haptic_media.rs
  crates/isobmff/src/boxes/hint_media.rs
  crates/isobmff/src/boxes/incomplete_tracks.rs
  crates/isobmff/src/boxes/metadata.rs
  crates/isobmff/src/boxes/metadata_media.rs
  crates/isobmff/src/boxes/movie.rs
  crates/isobmff/src/boxes/movie_fragments.rs
  crates/isobmff/src/boxes/multiplexed_timed_metadata_tracks.rs
  crates/isobmff/src/boxes/post_decoder_requirements.rs
  crates/isobmff/src/boxes/protected_streams.rs
  crates/isobmff/src/boxes/sample_group.rs
  crates/isobmff/src/boxes/sample_groups.rs
  crates/isobmff/src/boxes/sample_table.rs
  crates/isobmff/src/boxes/segments.rs
  crates/isobmff/src/boxes/sub_tracks.rs
  crates/isobmff/src/boxes/subtitle_media.rs
  crates/isobmff/src/boxes/text_media.rs
  crates/isobmff/src/boxes/track.rs
  crates/isobmff/src/boxes/track_data_layout.rs
  crates/isobmff/src/boxes/track_media.rs
  crates/isobmff/src/boxes/track_time.rs
  crates/isobmff/src/boxes/user_data.rs
  crates/isobmff/src/boxes/video_media.rs
  crates/isobmff/src/boxes/volemetric_visual_media.rs
  crates/isobmff/src/lib.rs
Owners: @ScuffleTV/maintainers

fix(isobmff): docs
  crates/isobmff/src/boxes/track_media.rs
Owners: @ScuffleTV/maintainers

fix: rebase chaos
  Cargo.lock
  crates/aac/Cargo.toml
  crates/amf0/Cargo.toml
  crates/av1/BUILD.bazel
  crates/av1/Cargo.toml
  crates/bytes-util/Cargo.toml
  crates/bytes-util/src/zero_copy.rs
  crates/expgolomb/Cargo.toml
  crates/ffmpeg/BUILD.bazel
  crates/ffmpeg/Cargo.toml
  crates/flv/Cargo.toml
  crates/h264/Cargo.toml
  crates/h265/BUILD.bazel
  crates/h265/Cargo.toml
  crates/isobmff/BUILD.bazel
  crates/isobmff/Cargo.toml
  crates/isobmff/derive/BUILD.bazel
  crates/isobmff/derive/Cargo.toml
  crates/isobmff/derive/src/lib.rs
  crates/isobmff/src/boxes.rs
  crates/isobmff/src/conformance_tests.rs
  crates/isobmff/src/file.rs
  crates/isobmff/src/lib.rs
  crates/mp4/BUILD.bazel
  crates/mp4/Cargo.toml
  crates/mp4/src/lib.rs
  crates/mp4/src/object_description.rs
  crates/opus/BUILD.bazel
  crates/opus/Cargo.toml
  crates/opus/README.md
  crates/opus/src/lib.rs
  crates/rtmp/Cargo.toml
  crates/transmuxer/BUILD.bazel
  crates/transmuxer/Cargo.toml
  crates/transmuxer/src/tests.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

fix page errors
  cloud/dashboard/src/routes/+page.svelte
  cloud/dashboard/src/routes/login/+page.svelte
  cloud/dashboard/src/routes/projects/+page.svelte
Owners: @ScuffleTV/maintainers

feat(core): take dashboard origin from request
  Cargo.lock
  cloud/core/bin/standalone/config.rs
  cloud/core/bin/standalone/main.rs
  cloud/core/src/common.rs
  cloud/core/src/google_api.rs
  cloud/core/src/http_ext.rs
  cloud/core/src/operations/login.rs
  cloud/core/src/operations/user_session_requests.rs
  cloud/core/src/operations/users.rs
  cloud/core/src/services/sessions.rs
  cloud/core/traits/src/config.rs
  cloud/ext-traits/Cargo.toml
  cloud/ext-traits/src/http_ext.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

fix(ingest): address comments
  cloud/video/BUILD.bazel
  cloud/video/ingest/LICENSE.AGPL-3.0
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

update svelte for tanstack v6
  cloud/dashboard/package.json
  cloud/dashboard/src/components/settings/settings-page.svelte
  cloud/dashboard/src/components/streams/create-stream-modal.svelte
  cloud/dashboard/src/components/streams/stream-detail-header.svelte
  cloud/dashboard/src/components/streams/streams-table.svelte
  cloud/dashboard/src/lib/shared-components/stream-status-pill.svelte
  cloud/dashboard/svelte.config.js
  pnpm-lock.yaml
Owners: @ScuffleTV/maintainers

use tanstack add eror handling
  cloud/dashboard/src/components/settings-card.svelte
  cloud/dashboard/src/components/settings/settings-page.svelte
  cloud/dashboard/src/components/settings/two-factor-settings-card.svelte
  cloud/dashboard/src/routes/+layout.svelte
Owners: @ScuffleTV/maintainers

bump rules_img
  misc/toolchains/docker.MODULE.bazel
Owners: @ScuffleTV/maintainers

fix fmt
  misc/toolchains/docker.MODULE.bazel
Owners: @ScuffleTV/maintainers

feat(video-api): scaffolding
  Cargo.lock
  Cargo.toml
  cargo_targets.bzl
  cloud/video/api/BUILD.bazel
  cloud/video/api/Cargo.toml
  cloud/video/api/LICENSE.AGPL-3.0
  cloud/video/api/README.md
  cloud/video/api/bin/standalone/config.rs
  cloud/video/api/bin/standalone/main.rs
  cloud/video/api/src/lib.rs
  cloud/video/api/src/services.rs
  cloud/video/api/traits/BUILD.bazel
  cloud/video/api/traits/Cargo.toml
  cloud/video/api/traits/README.md
  cloud/video/api/traits/src/lib.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers, @ScuffleTV/video

chore: sync readme
  cloud/video/api/README.md
  cloud/video/api/traits/README.md
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

fix(video-api): binary
  cloud/video/api/bin/standalone/main.rs
Owners: @ScuffleTV/video, @ScuffleTV/maintainers

feat: add video-api to Justfile
  Justfile
Owners: @ScuffleTV/maintainers

bump rules_img
  .bazelrc
  MODULE.bazel
  misc/toolchains/docker.MODULE.bazel
Owners: @ScuffleTV/maintainers

bump rules_img
  .bazelrc
  MODULE.bazel
  misc/toolchains/docker.MODULE.bazel
Owners: @ScuffleTV/maintainers

diesel patch / schema updater
  .gitignore
  CONTRIBUTING.md
  Cargo.toml
  Justfile
  MODULE.bazel
  cargo_targets.bzl
  misc/utils/rust/diesel_migration.bzl
  misc/utils/rust/diesel_migration/BUILD.bazel
  misc/utils/rust/diesel_migration/copy/BUILD.bazel
  misc/utils/rust/diesel_migration/copy/Cargo.toml
  misc/utils/rust/diesel_migration/copy/README.md
  misc/utils/rust/diesel_migration/copy/src/main.rs
  misc/utils/rust/diesel_migration/patcher/BUILD.bazel
  misc/utils/rust/diesel_migration/patcher/Cargo.toml
  misc/utils/rust/diesel_migration/patcher/README.md
  misc/utils/rust/diesel_migration/patcher/src/main.rs
  misc/utils/rust/diesel_migration/runner/src/main.rs
  misc/utils/rust/diesel_migration/test/src/main.rs
  tools/diesel-schema/src/main.rs
Owners: @ScuffleTV/maintainers

update vendor
  Cargo.lock
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

fix usage
  cloud/core/db-types/BUILD.bazel
  cloud/core/db-types/src/schema.patch
Owners: @ScuffleTV/maintainers

sync readme
  misc/utils/rust/diesel_migration/copy/README.md
  misc/utils/rust/diesel_migration/patcher/README.md
Owners: @ScuffleTV/maintainers

fix editor config
  .editorconfig
  .vscode/extensions.json
Owners: @ScuffleTV/maintainers

change id type
  cloud/core/cedar/src/macros.rs
  cloud/core/cedar/src/models/mfa.rs
  cloud/core/cedar/src/models/organization.rs
  cloud/core/cedar/src/models/session.rs
  cloud/core/cedar/src/models/users.rs
  cloud/core/db-types/src/lib.rs
  cloud/core/db-types/src/models/mfa.rs
  cloud/core/db-types/src/models/organizations.rs
  cloud/core/db-types/src/models/sessions.rs
  cloud/core/db-types/src/models/users.rs
  cloud/core/src/common.rs
  cloud/core/src/operations/users.rs
  cloud/id/src/lib.rs
Owners: @ScuffleTV/maintainers

fix settings bump
  Cargo.lock
  crates/settings/BUILD.bazel
  crates/settings/Cargo.toml
  crates/settings/src/lib.rs
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

fix service path trimming
  crates/tinc/build/src/codegen/service.rs
Owners: @ScuffleTV/maintainers

fix codegen when empty message or enum type
  crates/tinc/build/src/codegen/serde.rs
Owners: @ScuffleTV/maintainers

chore: upgrade dependencies
  Cargo.lock
  cloud/core/Cargo.toml
  cloud/core/traits/Cargo.toml
  cloud/email/Cargo.toml
  cloud/email/traits/Cargo.toml
  crates/bootstrap-telemetry/Cargo.toml
  crates/http/Cargo.toml
  crates/metrics/Cargo.toml
  crates/metrics/src/prometheus.rs
  crates/postcompile/Cargo.toml
  crates/rtmp/Cargo.toml
  crates/signal/Cargo.toml
  misc/toolchains/rust.MODULE.bazel
  vendor/cargo/BUILD.bazel
  vendor/cargo/BUILD.cargo-platform-0.3.1.bazel
  vendor/cargo/BUILD.cargo_metadata-0.23.0.bazel
  vendor/cargo/BUILD.diesel-2.3.2.bazel
  vendor/cargo/BUILD.diesel-async-0.7.3.bazel
  vendor/cargo/BUILD.diesel_derives-2.3.3.bazel
  vendor/cargo/BUILD.diesel_table_macro_syntax-0.3.0.bazel
  vendor/cargo/BUILD.downcast-rs-2.0.2.bazel
  vendor/cargo/BUILD.dsl_auto_type-0.2.0.bazel
  vendor/cargo/BUILD.jiff-0.2.15.bazel
  vendor/cargo/BUILD.jiff-tzdb-0.1.4.bazel
  vendor/cargo/BUILD.jiff-tzdb-platform-0.1.3.bazel
  vendor/cargo/BUILD.opentelemetry-0.31.0.bazel
  vendor/cargo/BUILD.opentelemetry-appender-tracing-0.31.1.bazel
  vendor/cargo/BUILD.opentelemetry-stdout-0.31.0.bazel
  vendor/cargo/BUILD.opentelemetry_sdk-0.31.0.bazel
  vendor/cargo/BUILD.prometheus-client-0.24.0.bazel
  vendor/cargo/BUILD.prometheus-client-derive-encode-0.5.0.bazel
  vendor/cargo/BUILD.reqsign-0.18.0.bazel
  vendor/cargo/BUILD.reqsign-aws-v4-2.0.0.bazel
  vendor/cargo/BUILD.reqsign-core-2.0.0.bazel
  vendor/cargo/BUILD.tracing-opentelemetry-0.32.0.bazel
  vendor/cargo/BUILD.windows-sys-0.59.0.bazel
  vendor/cargo/BUILD.windows-sys-0.61.0.bazel
  vendor/cargo/defs.bzl
Owners: @ScuffleTV/maintainers

docs: changelog file
  changes.d/pr-625.toml
Owners: @ScuffleTV/maintainers

commiting current and removing msw
  cloud/dashboard/src/components/settings/recovery-codes-button.svelte
  cloud/dashboard/src/components/settings/settings-page.svelte
  cloud/dashboard/src/components/settings/two-factor-settings-card.svelte
  cloud/dashboard/src/lib/two-factor/toptAuth.svelte.ts
  cloud/dashboard/src/lib/two-factor/webAuthn.svelte.ts
  cloud/dashboard/src/routes/projects/+page.svelte
  cloud/dashboard/src/routes/settings/user/common/+page.svelte
Owners: @ScuffleTV/maintainers

fix(core): middleware layer order
  cloud/core/src/services.rs
Owners: @ScuffleTV/maintainers

remove msw and test flow
  cloud/dashboard/.env
  cloud/dashboard/eslint.config.mjs
  cloud/dashboard/package.json
  cloud/dashboard/src/components/inline-notification.svelte
  cloud/dashboard/src/components/login/login-page.svelte
  cloud/dashboard/src/components/settings/recovery-codes-button.svelte
  cloud/dashboard/src/components/settings/settings-page.svelte
  cloud/dashboard/src/lib/auth.svelte.ts
  cloud/dashboard/src/lib/auth/googleAuth.svelte.ts
  cloud/dashboard/src/lib/auth/magicLinkAuth.svelte.ts
  cloud/dashboard/src/lib/auth/passwordAuth.svelte.ts
  cloud/dashboard/src/lib/auth/two-factor/webAuthnMfa.svelte.ts
  cloud/dashboard/src/lib/images/icon-alarm.svelte
  cloud/dashboard/src/lib/images/icon-info.svelte
  cloud/dashboard/src/msw/browser.ts
  cloud/dashboard/src/msw/handlers.ts
  cloud/dashboard/src/msw/setup.ts
  cloud/dashboard/src/routes/+layout.svelte
  cloud/dashboard/src/routes/login/magic-link/+page.svelte
  cloud/dashboard/src/routes/organizations/[orgId]/projects/[projectId]/streams/+page.ts
  cloud/dashboard/src/routes/register/confirm/+page.svelte
  cloud/dashboard/src/routes/settings/user/+layout.ts
  cloud/dashboard/static/mockServiceWorker.js
  cloud/dashboard/svelte.config.js
  cloud/dashboard/vite.config.ts
  pnpm-lock.yaml
Owners: @ScuffleTV/maintainers

change macos sysroot
  misc/toolchains/clang.MODULE.bazel
Owners: @ScuffleTV/maintainers

fix fmt
  crates/settings/BUILD.bazel
  crates/settings/Cargo.toml
Owners: @ScuffleTV/maintainers

fix(core): account for inaccurate client clocks
  cloud/core/bin/standalone/config.rs
  cloud/core/bin/standalone/main.rs
  cloud/core/src/middleware/auth.rs
  cloud/core/traits/src/config.rs
Owners: @ScuffleTV/maintainers

update macos sysroot
  misc/toolchains/clang.MODULE.bazel
Owners: @ScuffleTV/maintainers

further fix prefix paths
  crates/tinc/build/src/codegen/service.rs
Owners: @ScuffleTV/maintainers

disable merkle tree cache
  .github/actions/setup-bazel/action.yaml
Owners: @ScuffleTV/maintainers

fix(core): address comment
  cloud/core/src/middleware/auth.rs
Owners: @ScuffleTV/maintainers
